/*********************************************
CSS Styling for Final Website

Palette:

Hex                 RGB
#033E8C          (3, 62, 140)
#022859          (2, 40, 89)
#0476D9          (4, 118, 217)
#0D0D0D          (13, 13, 13)
#D9D9D9          (217, 217, 217)
#fdf91e          (253, 249, 30)

**********************************************/

body {
  padding: 0;
  margin: 0;
  display: grid; /* Set up the grid and justify/align to center */
  justify-content: center;
  align-content: center;
  font-family: 'Roboto', sans-serif;
  /* background-color: #b0b2b7; */
   /* background-image: linear-gradient(#0D0D0D ,#D9D9D9); */
  background-color: black;
  background-image: url("../assets/images/sine_wave.png");
  background-repeat: no-repeat;
  background-position: center;
}


/* section {
} */


section p {
  line-height: 1.6;
  letter-spacing: 1.2px;
  margin-left: -1em;
  margin-right: 1.8em;
  /* display: block; */
}

section .section-question {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* margin-left: 4em;
  margin-right: 1em; */
}

section .section-question p {
  line-height: 1.6;
  letter-spacing: 2px;
  margin-left: 0;
  margin-right: 0;
  /* display: block; */
}

/* Back to top button */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #0476D9;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}



/* Nav */

nav {
  display: flex;
  background:#E9EADB;
  background-color: #E9EADB;
}

nav a:link {
  color: #fff;
  background: #011C40;
  padding: 10px 20px;
  text-decoration: none;
  flex-grow: 1;
  text-align: center;
}

nav a:visited {
  color: white;
}

nav a:hover {
  color: white;
  background-color: #2A6BBF;
}

/* Header */

/* header {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
} */


/* Imag Overlay Intro */

#starting-banner {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
  /* width: 200%; */
  min-height: 105%;
  max-height: 105%;
  max-width:500px;
  height: auto;
  position: relative;
  margin-bottom: 40px;
}

#starting-banner h1 {
  font-size: 4em;
  text-transform: uppercase;
  letter-spacing: 0.08em;

  /* background: url('../assets/images/neurons.jpg') 50% 50% no-repeat;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkite-background-clip: text; */
}

/* Header & Section One */

h1 {

  font-family: Roboto;

}


h2 {
  /* width: 100px;
  height: 100px; */
  font-family: 'Secular One', sans-serif;
  font-size: 2.6em;
  background-color: #0476D9;
  /* Header animations */
  animation-name: example;
  animation-duration: 5s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

/* Styling incorrect answers */

#dialog {
  display: none;
}

.wiener-try-again {
  display: flex;
}


.ui-dialog {
    left: 0;
    outline: 0 none;
    border: none;
    color: black;

}

#introduction {
  background-color: #022859;
  min-height: 500px;
  /* max-height: auto; */
  height: auto;
  width: 500px;
  position: relative;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 2em; */
  padding-bottom: 3em;
  line-height: 1.6;
}

#introduction p {
  /* display: none; */
  color: white;
  text-align: left;
  padding: 0em 0em;
  margin-bottom: 3em;
}

#introduction h1 {
  color: white;
  text-align: center;
  text-transform: uppercase;
}

#intro-sub-header {
    margin-right: 3%;
}

/* To affect the intro buttons container */
#intro-buttons-container {
  margin-top: 60px;
  /* display: flex;
  align-items: center; */
}


#introduction button {
  background-color: #0476D9;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 10px;
  /* margin: 4px 2px;
  margin-left: 60px; */
  cursor: pointer;
}


.sub-header-section {
  display: flex;
}

#book-section {
  /* display: flex;
  align-items: left;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row; */
  margin-left: 33%;
  margin-right: 10%;
  }


#book-section p {
  /* align-items: left;
  justify-content: center;
  margin-right: 7em; */
}


#book-section-image-container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  margin-left: 20%;

}

#book-section-image-container img:hover {
  transform: scale(1.1);
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */

}

#book-section-image-container img {
  width: 40%;
  align-items: center;
  align-content: center;
  justify-content: center;
  transition: transform .2s;
  margin-left: 10%;
}

/* .section-question { */
  /* display: flex; */
  /* test-align: center;
  justify-content: center; */
  /* text-align: left; */
/* } */

#intro-section-question {
  margin-left: 29%;
  margin-right: 7%;
}

#introduction .section-question p, #choice .section-question p,
#connect .section-question p, #test .section-question p, #self-regulation .section-question p {
  color: yellow;
  /* display: block; */
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.4em;
}


/* Ellipse to manage Norbert Wiener images */

.ellipse {
  background-color: #0476D9;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  display: flex;
  position: relative;
  right: 50px;
}

.ellipse img {
  /* box-shadow: 0px 5px 5px 2px  #9e9e9e; */
}

.ellipse img:hover #introduction p {
  /* display: block; */
}

/* To affect the intro buttons directly */



/* Feedback Arrows Animations */

#feedback_arrows {
  display: flex;
  justify-content: space-evenly;
}

#feedback_arrows_center{
  width: 4em;
  height: 4em;
  animation: mymove_3 4s infinite;
  /* animation-iteration-count: 1; */
  /* animation-direction: reverse; */
  animation-timing-function: linear;
  transform-origin: center center;
}

/* Rotate arrow */

#feedback_arrows_1{
  width: 4em;
  height: 4em;
  /* transform: translateX(100px); */
  opacity: 0;
  animation: mymove 3s infinite forwards;
  /* animation-iteration-count: 1; */
  /* animation-direction: reverse; */
  transform: translateX(-80%);

}

#feedback_arrows_2{
  width: 4em;
  height: 4em;
  animation: mymove_2 3s infinite;
  /* animation-iteration-count: 1; */
  /*animation-direction: reverse;*/
  animation-delay: 2s;
  /* transform: translateX(80%); */
  right: 0px;
  position:relative;
}

@keyframes mymove {
  0% {opacity: 0;}
  10% {opacity: 1;}
  100% {transform: rotate(-90deg); opacity: 0;}
    /* 100% {transform: rotate(90deg); opacity: 0;} */
}

@keyframes mymove_2 {
  0% {opacity: 0;}
  10% {opacity: 1;}
  100% {transform: rotate(-90deg); opacity: 0; right: 140px;}
}

@keyframes mymove_3 {
   100% {transform: rotate(360deg);}
}

/* Section Two */

#choice {
  background-color: #033E8C;
  min-height: 500px;
  max-height: auto;
  height: auto;
  width: 500px;
  position: relative;
  justify-content: center;
  align-items: center;
  display: none;
}

#choice h2 {
  /* color: white; */
  color:#fdf91e;
  text-align: center;
  text-transform: uppercase;

}

#choice img{

}

#choice p {
  color: white;
  text-align: left;
  padding: 0em 0em;
  /* font-style: italic; */
  /* color: #fdf91e; */
}

#choice-section-question {
  margin-left: 28%;
  /* margin-right:-100%; */
}

#choice-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#choice button {
  background-color: #0476D9;
  border: none;
  color: white;
  padding: 15px 32px;
  margin-right: 2em;
  margin-left: 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-top: 40px;
  margin-bottom: 5%;
}


#animated-artifact {
  /* bottom:15%; */
  position:relative;
  -webkit-animation:linear infinite alternate;
  -webkit-animation-name: run;
  -webkit-animation-duration: 5s;
}

@-webkit-keyframes run {
    0% { left: 0;}
    100%{ left : 70%;}
    10%{ left: 0;}
}


/* Section Three */

#connect {
  background-color: #022859;
  width: 500px;
  height: auto;
  position: relative;
  justify-content: center;
  align-items: center;
  display: none;
}

#connect h2 {
  /* color: white; */
  color:#fdf91e;
  text-align: center;
  text-transform: uppercase;
}

#connect img{

}

#connect p {
  color: white;
  text-align: left;
  padding: 0em 0em;
}

#connect-section-question {
  margin-left: 23%;
  margin-right: 2%;
}

#found-message {
  margin-left: 22%;
  margin-right: 12%;
  margin-bottom: 5%;
}


/* Test Section */


#test {
  background-color: #033E8C;
  width: 500px;
  height: auto;
  position: relative;
  justify-content: center;
  align-items: center;
  /* display: none; */
}

#test h2 {
  color: white;
  /* color:#fdf91e; */
  text-align: center;
  text-transform: uppercase;
}


#test p {
  color: white;
  text-align: left;
  padding: 0em 0em;
  /* font-style: italic; */
  /* color: #fdf91e; */
}

#test-section-question {
  /* margin-left: */
  margin-right: 10%;
}


#test-model {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  margin-left: 10%;
}

#test-model img {
  width: 400px;
  /* max-width: 300px; */
}

#test-model-answers {
  display: none;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
  margin-left: 10%;
}

#test-model-answers img {
  width: 400px;
  /* max-width: 300px; */
}

#test-solution-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#test button {
  background-color: #0476D9;
  border: none;
  color: white;
  width: 9em;
  height: 4.5em;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
  /* margin-left: 60px; */
  cursor: pointer;
  margin-bottom: 3em;
}


/* .test-model-text-container {
  display: flex;
  align-items: center;
  justify-content: center;

} */

.test-model-text-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
 /* justify-content:space-around;*/
  padding: 0.5em;
}

.test-model-text-1 div {
  /* background:red; */
  /* margin-right: -14%; */
  width:35%;
}

.test-model-text-1 div img{
  width:auto;
  height:4vh;
  transition: transform .2s;
}


.test-model-text-1 div img:hover{

  transform: scale(1.05);
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.09); /* Safari 3-8 */
}



/* .test-model-text-2 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0.5em;
}

.test-model-text-2 img {
  width: 10%;
  height: 5%;
} */

#brain-circuits-test {
  max-width: 25%;
  max-height: 25%;
  background-color: white;
}


/* P5 Canvas */

#sketch-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  margin-top: 1em;
  /* z-index: -10; */
  /* border-style: solid; */
  /* width: 100%;
  height: 100%; */
}


/* Secontion 5 - Self Regulation */

#self-regulation {
  background-color: #022859;
  width: 500px;
  height: auto;
  position: relative;
  justify-content: center;
  align-items: center;
  /* display: none; */
  padding-bottom: 3em;
}

#self-regulation h2 {
  /* color: white; */
  text-align: center;
  text-transform: uppercase;
  color:#fdf91e;
}


#self-regulation p {
  color: white;
  text-align: left;
  padding: 0em 2em;
  /* font-style: italic; */
  /* color: #fdf91e; */
}

#regulation-section-question {
  margin-left: 20%;
  margin-right: 8%;
  margin-bottom: 3em;
}

#regulation-revealed-text {
  margin-left: 20%;
  /* margin-right: 8%; */
}

#figurine-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: -3%;
  /* position: relative; */

}

.figurine-activate {
  animation: figurine-rotate 5s infinite linear;
}

  @keyframes figurine-rotate  {
  from
    {
      transform: rotateY(0deg);
    }
    to
    {
      transform: rotateY(360deg);
    }
  }


#figurine-container img {
    width:30%;
    /* max-width: 80px; */
}



#music-box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1em;
}

#music-box-container img {
    width:30%;
    /* max-width: 80px; */
}



/* Sample animation */
.main-div
{
background-image: -webkit-linear-gradient(45deg, #111 50%, #f7c942 50%);
height: 200px;
width: 200px;
position: absolute;
left: 0;
right: 0;
bottom:0;
top:0;
margin: auto;
box-shadow: 0px 0px 10px 2px #000;
animation: ver-rotate 5s infinite linear;
}

@keyframes ver-rotate
{
from
{
transform: rotateY(0deg);
}
to
{
transform: rotateY(360deg);
}
}




/* Last section */


#conclusion {
  background-color: #033E8C;
  width: 500px;
  height: auto;
  position: relative;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/neurons.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 5em;
  margin-bottom: 5em;
  /* display: none; */
}

#conclusion h2 {
  /* color: white; */
  color:#fdf91e;
  text-align: center;
  text-transform: uppercase;
}


#conclusion p {
  color: white;
  text-align: left;
  padding: 0em 2em;
  /* font-style: italic; */
  /*  */
}

#conclusion a {
  text-decoration: none;
  color: #fdf91e;
  display: inline-block;
}

#conclusion a:hover {
  transform: scale(1.2);
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
}


#extras-starting-banner {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
  /* width: 200%; */
  min-height: 150px;
  max-height: 105%;
  max-width:500px;
  height: auto;
  position: relative;
  margin-bottom:0;
}


#extras-starting-banner h1{
  font-size: 4em;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

/* #extras-start-banner h2 {
  margin-left: 200px;
} */

#extras-sub-header-container {
  /* padding-left: 15%; */
    padding-left: 22%;
  font-size: 3em;
  font-family: 'Secular One', sans-serif;
  font-weight: 900;
  position: relative;
  z-index: 20;
  background-color: #0476D9;

}


#extras-sub-header {
  font-size: 32;
  color:black;

  margin-bottom:0;
  margin-top:0;

  /* position: absolute; */
  /* margin-left: 200px; */
}

#extras-sub-header h2{
  /* padding-left: 20%; */
}




/* Extra sections */

.extras-styling {
  background-color:#022859;
  width: 500px;
  height: auto;
  position: relative;
}

.extras-styling p {
  color: white;
  text-align: left;
  padding: 0em 2em;
}

.extras-styling h2 {
  color: white;
  text-align: center;
  text-transform: uppercase;
}

#extra-1 {
}

#extra-1 img {
  width: 22%;
}


#stafford-video {
width: 100%;
}

#extra-2 {
}

/* #extra-3-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
} */

/* .video-container {
  height: 300px;
  width: 300px;
  overflow: hidden;
  position: relative;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
} */


#extra-3 {
  background-color: #022859;
  width: 500px;
  height: auto;
  position: relative;
  justify-content: center;
  align-items: center;
}

#extra-3 img {
  width: 75%;
}

/* Footer */

.footer {
  background-color: #022859;
  display: flex;
  width: 500px;
  height: 200px;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 7em;
  /* display: none; */
}

.footer img {
  width: 75%;

  /* position: absolute;
  top: 40px;
  bottom: 150px;
  left: 25px;
  z-index: 1; */
}


/* Source Page */

.sources-styling {
  background-color:#022859;
  width: 500px;
  height: auto;
  position: relative;
}

.sources-styling p {
  color: white;
  text-align: left;
  padding: 0em 2em;
}

.sources-styling h2 {
  color: white;
  text-align: center;
  text-transform: uppercase;
}

#sources-1 {

}

#sources-2 {

}




/* Animations  */

.slide-up {
	opacity: 0;
	transform: translateY(2em);
	transition: all .5s .5s ease-out;
/*	will-change: all;*/
}

.slide-up.is-visible {
	opacity: 1;
	transform: translateY(0);
}


.slide-right {
	opacity: 0;
	transform: translateX(-10em) rotate(0);
	transition: all .5s 1s ease-out;
	will-change: all;
}

.slide-right.is-visible {
	opacity: 1;
	transform: translateX(0);
}



@keyframes example {
  from {background-color:#033E8C;}
  to {background-color: #0476D9;}
}


/* Media Queries */
/*
@media screen and (max-width:600px) {
  /* .test-model-text-1 {
    height: 2vh;
    background-color: green;
  } */ */
  body{
    background-color:red;
  }
